<style>
    .parent {        
        height: 40px;
        width: 170px;
        display: flex; 
        padding: 10px;
        margin: 10px;
    }

    .child {
        text-align: center;
        color:rgb(37, 4, 133);
        font-weight:bolder;
        font-size: 12pt;
        font-family: Arial;
        align-items: center;
    }
</style>

<div style="width: 89%; margin: auto; background-color:lightblue; border-radius:3px; box-shadow: 0px 1px 3px DimGray;" >
    <div style="width: 85%; margin: auto; color:lightblue; height:30px; text-align: center;">
        <div style="font-weight: bolder; font-size: 18px; color:navy;" >My Approval on Workflow</div>
    </div>
    <div style="width: 99%; background-color: whitesmoke; padding: 15px; margin:auto; display: flex; flex-direction: row; flex-wrap: wrap; border-radius:2px;" >
        <ng-template ngFor let-wf [ngForOf]="myApprovalWf" let-i="index" [ngForTrackBy]="trackByFnMenu" let-c="count">
            <div style="background-color: whitesmoke; width:270px; margin-left: 10px; margin-right: 70px; margin-bottom: 10px;">
                <div style="background-color: lightblue; ">
                    <div style="margin-left: 10px; margin-right: 10px; background-color: rgb(228, 242, 247);" class="actionDivFlexCont">                         
                        <div style="margin-left: 10px; margin-right: 10px;" >
                            <div>            
                                <a routerLink="./{{wf.WfName}}">
                                <div>
                                    <h5>{{wf.DisplayTxt}}</h5>
                                    <span></span>
                                </div>
                                </a>
                            </div>
                        </div>                                  
                    </div>
                 </div>
            </div>               
             
        </ng-template>
    </div>
    <div style="color:lightblue; height:3px;"></div>
</div>

