
<style>
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly ;
        align-content: flex-start;
        background-color: rgb(241, 245, 247);
        align-items: stretch;
    }

    .flex-container>div {
        border-radius: 5px;
        background-color: #04AA6D;
        margin: 10px;
        padding: 20px;
        width: 180px;
        height: 80px;
        
    }

    .flex-container-text {        
        justify-content: center;
        text-align: center;
        vertical-align: middle;
    }
</style>

<div class="container" style="width:80%; margin: auto;">
    <div class="flex-container" fxLayout="row wrap">
        <div class=" flex-container-text" style="background-color: #D95129">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/_layouts/15/PendingApproval/PendingApproval.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">Pending Approval</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>
        <div style="background-color: #E3702B">
            <a routerLink="./wf" style="color: white">
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <!-- <a href="https://portal.bergerbd.com/_layouts/15/BusinessProcess/BusinessProcess.aspx"> -->
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">Business Process</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>

        <div class=" flex-container-text" style="background-color: #CC8131">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/sites/PurchasePortal/Pages/default.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">Purchase Portal</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>

        

        <div class=" flex-container-text" style="background-color: #D9AB29">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/sitepages/ITCorner.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">IT Corner</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>

        <br/>

        <div class=" flex-container-text" style="background-color: #D9AB29">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/leaveauto/SitePages/TaskDelegation.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">Delegate Task</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>
        <div style="background-color: #E3D522">
            <!-- <a routerLink="./wf" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/_layouts/15/UserProfile/UserProfile.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">People</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>

        <div class=" flex-container-text" style="background-color: #46D921">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/SitePages/CommonDocuments.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">Shared Document</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>

        

        <div class=" flex-container-text" style="background-color: #078B26">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/sitepages/hrcorner.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">HR Corner</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>
        <br/>
        <div class=" flex-container-text" style="background-color: #078B26">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/leaveauto/SitePages/MyWFRequest.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">My Process</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>
        <div style="background-color: #2cb78a">
            <!-- <a routerLink="./wf" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/Lists/Berger%20Announcement/AllItems.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">Announcements</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>

        <div class=" flex-container-text" style="background-color: #18A6D9">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/Lists/News%20Events/AllItems.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">News and Events</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>

        

        <div class=" flex-container-text" style="background-color: #092179">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/HSECorner/Forms/AllItems.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">HSE Corner</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>

        <div class=" flex-container-text" style="background-color: #092179">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/SAPResources/_layouts/15/start.aspx#/SitePages/Home.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">SAP S4/Hana</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>

        <div class=" flex-container-text" style="background-color: #535CCC">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/Pages/Berger-Album.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">Gallery</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>

        <div class=" flex-container-text" style="background-color: #9252E3">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://portal.bergerbd.com/SitePages/DiscussionBoard.aspx">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">Discussion Board</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>

        <div class=" flex-container-text" style="background-color: #5e0463">
            <!-- <a routerLink="./TravelRequest" style="color: white"> -->
                <!-- <a href="{{webAbsoluteUrl}}/BusinessProcess/TravelRequest"> -->
            <a href="https://elearning.bergerbd.com">
                <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; color:aliceblue;">
                    <h3 class="child">E-Learning</h3>
                    <span class="count"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- <federated-component remoteEntry="http://localhost:4201/remoteEntry.js" remoteName="profile" exposedModule="ProfileModule" componentName="ListUserComponent"></federated-component> -->
</div>
<!-- <router-outlet></router-outlet> -->