<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>

  <!-- <li><a routerLink="login">Login</a></li>
  <li><a routerLink="itservicerequest">Itservicerequest</a></li>
  <li><a routerLink="wfdashboard">Wfdashboard</a></li>
  <li><a routerLink="itaccessoriesdashboard">Itaccessoriesdashboard</a></li>
  <li><a routerLink="colorbankdashboard">Colorbankdashboard</a></li>
  <li><a routerLink="sampletestdashboard">Sampletestdashboard</a></li>
  <li>
    <a routerLink="workshopproposaldashboard">Workshopproposaldashboard</a>
  </li>
  <li><a routerLink="travelrequestdashboard">Travelrequestdashboard</a></li>
  <li><a routerLink="stationaryitemsdashboard">Stationaryitemsdashboard</a></li>
  <li><a routerLink="support">Support</a></li> -->
  <li><a routerLink="pendingtasks">Pendingtasks</a></li>
</ul>

<router-outlet></router-outlet>
