.login-app {
    width: 30vw;
    border: 2px dashed black;
    padding: 8px;
    margin: 0 auto;
  }
  .login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 8px;
  }
  label {
    display: block;
  }