<h2 style="font-family:cursive;">SAP Operational Support workflow</h2>
<div>
    <img [src]="sapOperationalSupportWFPath" style="width: 400px; height: 500px;"/>
    <!-- <img [src]="'assets/sapOperationalSupport_28052022.jpg'" alt="image" style="width: 400px; height: 500px;" /> -->
</div>

<!-- <div [innerHTML]="content"></div> -->

<!-- <iframe 
[src]="iFrameUrl"
*ngIf="displayIFrame"
style="height:40%; width:40%; z-index:20; position:absolute;background:yellow"
id="loginIFrame">    
</iframe> -->

<!-- <button (click)="onOpenIFrame()">Open IFrame</button> -->