$handle-size: 10px;
$handle-color: rgb(19, 71, 243);

:host:hover .m22-resizable-triangle {
  opacity: 1;
}

.m22-resizable-handle {
  position: absolute;
  width: $handle-size;
  height: $handle-size;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.m22-resizable-triangle {
  pointer-events: none;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
  position: absolute;
  width: 0;
  height: 0;
  border-left: $handle-size / 2 solid transparent;
  border-top: $handle-size / 2 solid transparent;
  border-right: $handle-size / 2 solid $handle-color;
  border-bottom: $handle-size / 2 solid $handle-color;
  bottom: 0;
  right: 0;
}


.example-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
}